<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Hecho con boostrap -->
    <meta charset="UTF-8">
    <title>Pagina principal de Pokémon</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>
<body>
    <br>
    <h1 class="text-center mt-5 mb-5 text-primary">Bienvenido a la página principal de Pokémon</h1>
    
    <img src="https://www.pokemon.com/static-assets/app/static3/img/og-default-image.jpeg" class="img-fluid mx-auto d-block" width="300" height="300" alt="Pokemon">
    <br><br>

        <div class="d-flex justify-content-center" >

            <button class="btn btn-danger btn-lg btn-block mx-auto" onclick="location.href='http://localhost:5000/pokedex'">Ver la pokédex</button>

            <button class="btn btn-danger btn-lg btn-block mx-auto" onclick="location.href='http://localhost:5000/newpokemon'">Añadir un nuevo pokémon</button>
    
            <button class="btn btn-warning btn-lg btn-block mx-auto" onclick="location.href='http://localhost:5000/tipos'">Ver que tipos hay</button>

            <button class="btn btn-warning btn-lg btn-block mx-auto" onclick="location.href='http://localhost:5000/newtipo'">Añadir un nuevo tipo</button>
            
        </div>

</body>
</html>


